body {
  background-image: url(./anh/Hinh-nen-den-dep-10.jpg);

  image-rendering: -webkit-optimize-contrast; /* chống mờ */
}
.tdgiua {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  padding: 20px;
  width: 500px;
  height: 20px;
  color: #0ff; /* xanh neon */
  background-color: rgba(255, 255, 255, 0.1); /* trắng mờ */
  border: 5px solid rgb(198, 245, 136);
  border-radius: 50px;
  margin: 0 20px;
  display: inline-block;
}
.body img:first-of-type,
.avatar1 {
  margin: 2px;
  width: 60px;
  vertical-align: -14px; /* căn giữa theo trục dọc */
  border-radius: 50%;
  display: inline-block;
}
.body img:last-of-type,
.avatar2 {
  width: 60px;
  vertical-align: -14px; /* căn giữa theo trục dọc */
  border-radius: 50%;
  background-color: #fff4f4;
  display: inline-block;
}
.body {
  padding: 10px;
  width: 730px;
  margin: 1px auto;
}
.divfrien {
  width: 1200px;
  padding: 10px;
  margin: 0 auto;
}
.frierent {
  width: 1200px;
  border: 2px dashed white;
}
p {
  margin: 20px 20px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: rgb(216, 249, 206);
}
.iteam1 img,
.iteam2 img {
  width: 50px;
  height: 50px;
  margin: 20px 50px 10px;
  border-radius: 50%;
  border: 2px solid white;
}
.iteam1 img:hover,
.iteam2 img:hover {
  transform: scale(2);
  transition: transform 1s;
}
.iteam1,
.iteam2 {
  margin: 0 auto;
  width: 630px;
}
